


.progressB {
  margin-left: 5;
  border: 2px solid #000000;
  border-radius: 13px;
  margin: 0 70px 0 70px;
}

.caps {
  margin-left: 70px;
  width: 500px;
}

.hcprg {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  height: 14px;
  margin-bottom: 5px;
}

.prbr {
  height: 12px;
  border-radius: 4px;
}

.left {
  float: left;
  margin-left: 15px;
}

.teth {
  float: right;
  margin-right: 70px;
}

.inline {
  display: inline-block;
}

.pbar {
  width: 200px;
}

.hardc {
  font-size: 13px;
  margin-left: 5px;
}

#stg1com {
  visibility: hidden;
  color: white;
}

.hard {
  float: right;
}

.softhard {
  margin: 10px 70px 55px 70px;
}

p {
  margin-left: 50px;
}

p, span {
  color: black;
}

.raised {
  margin-left: 70px;
}




/*bar styles ---------------------------*/
