.default_bar{
  visibility: hidden;
}
.hide{
  display: none;
}

#img_bar{
  position: absolute;

}
.current_stage1{
  position: relative;
  bottom: 138px;
  left: 0px;

}
.current_stage2{
  position: relative;
  bottom: 138px;
  left: -288px;

}

.current_stage3{
  position: relative;
  bottom: 138px;
  left: -321px;

}
.current_stage4{
  position: relative;
  bottom: 263px;
  left: 255px;

}

.current_stage5{
  position: relative;
  bottom: 263px;
  left:224px;

}
.current_stage6{
  position: relative;
  bottom: 263px;
  left: -54px;

}




.current_stage7{
  position: relative;
  bottom: 388px;
  left: 749px;

}
.current_stage8{
  position: relative;
  bottom: 388px;
  left: 502px;

}


.label {
  width: 50px;
  position: absolute;
  font-size: 20px;
}

#label1{                   /* ARROW1 RIGHT %40 BONUS */
  position: absolute;
top:-501px;
left:20px;
}

#label2{                  /* ARROW2 25% BONUS */
  position: absolute;
top:-501px;
left:280px;
}

#label3{                     /* ARROW3 bonus 10%*/
  position: absolute;
top:-501px;
left:525px;
}




#label5{                     /* ARROW1 RIGHT EXPECTAION1*/
  position: absolute;
top:-420px;
left:65px;
}

#label6{                     /* ARROW2 EXPECTAION2*/
  position: relative;
top:-420px;
left:340px;
}

#label7{                     /* ARROW3  EXPECTAION3*/
  position: absolute;
top:-420px;
left:580px;
}

#label8{                     /* ARROW4  EXPECTAION4*/
  position: absolute;
top:-420px;
left:828px;
}
#label9{                     /* ARROW4  SaleFinished*/
  position: absolute;
top:-471px;
left:820px;
width: 200px;
visibility: visible;
}
