.default_bar_5{
  visibility: hidden;
}

.current_stage1_5{
  position: absolute;
  bottom: -125px;
  left: 210px;
}
.current_stage2_5{
  position: absolute;
  bottom: -125px;
  left: 210px;
}
.current_stage3_5{
  position: absolute;
  bottom: -125px;
  left: 464px;
}
.current_stage4_5{
  position: absolute;
  bottom: -125px;
  left: 464px;
}
.current_stage5_5{
  position: absolute;
  bottom: -125px;
  left: 710px;
}
.current_stage6_5{
  position: absolute;
  bottom: -125px;
  left: 710px;
}
.current_stage7_5{
  position: absolute;
  bottom: -125px;
  left: 956px;
}
.current_stage8_5{
  position: absolute;
  bottom: -125px;
  left: 956px;
}



.label_5 {

  position: absolute;
  font-size: 20px;
  bottom:115px;

}

#label1_5{                   /* ARROW1 RIGHT %40 BONUS */
  position: absolute;
top:147px;
left:20px;
}

#label2_5{                  /* ARROW2 25% BONUS */
  position: absolute;
top:147px;
left:280px;
}

#label3_5{                     /* ARROW3 bonus 10%*/
  position: absolute;
top:147px;
left:525px;
}




#label5_5{                     /* ARROW1 RIGHT EXPECTAION1*/
  position: absolute;
top:228px;
left:65px;
}

#label6_5{                     /* ARROW2 EXPECTAION2*/
  position: absolute;
top:228px;
left:340px;
}

#label7_5{                     /* ARROW3  EXPECTAION3*/
  position: absolute;
top:228px;
left:580px;
}

#label8_5{                     /* ARROW4  EXPECTAION4*/
  position: absolute;
top:228px;
left:828px;
}
#label9_5{                     /* ARROW4  SaleFinished*/
  position: absolute;
top:173px;
left:820px;
width: 200px;
visibility: visible;
}


.bar_state1_4{}
.bar_state2_4{}
.bar_state3_4{}
.bar_state4_4{}
.bar_state5_4{}
