.default_bar{
  visibility: hidden;
}

.current_stage1_bar{
  position: absolute;
  bottom: 508px;
  left: 210px;
}
.current_stage2_bar{
  position: absolute;
  bottom: 508px;
  left: 210px;
}
.current_stage3_bar{
  position: absolute;
  bottom: 508px;
  left: 464px;
}
.current_stage4_bar{
  position: absolute;
  bottom: 508px;
  left: 464px;
}
.current_stage5_bar{
  position: absolute;
  bottom: 508px;
  left: 710px;
}
.current_stage6_bar{
  position: absolute;
  bottom: 508px;
  left: 710px;
}
.finished_stage_bar{
  position: absolute;
  bottom: 508px;
  left: 956px;
}
