body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: black;
  margin: 0;
  padding: 0;
  background-color: white;
}
.block {
  border: 1px solid none;


  margin-left: 200px;
  margin-right: 30px;
  margin-bottom: 5px;
  border-radius: 13px;
  width: auto !important;
  max-width: 1010px;
  min-width: 1010px;
    background-color: #7996A2;
}

.module {
  position: relative;
  top:30px;
  max-width: 1010px;
  min-width: 1010px;
}

#img_bar{                          /*This is DIV img_bar */
  position: absolute;
}
#arrLeft{                          /*ARROWS --------------------------*/
  position: absolute;
  bottom: 3px;
  left:8px;

}
#arrLeftsloj2{
  position: absolute;
  bottom: 3px;
  left: 8px;

}

#arrow{
  position: absolute;
  bottom: 3px;
  left: 227px;

}
#arrow_Sloj2{
  position: absolute;
  bottom:  3px;
  left: 227px;

}

#arrow2{
  position: absolute;
  bottom: 3px;
  left: 414px;

}
#arrow2_Sloj2{
  position: absolute;
  bottom: 3px;
  left: 414px;

}

#arrow3{
  position: absolute;
  bottom: 3px;
  left: 601px;

}
#arrow3_Sloj2{
  position: absolute;
  bottom: 3px;
  left: 601px;

}


#arrRight{
  position: absolute;
  bottom: 3px;
  left: 788px;

}
#arrRightSloj2{
  position: absolute;
  bottom: 3px;
  left: 788px;

}
                           /*ARROWS --------------------------*/
.label{
  font-size: 20px;
}                          /*labels --------------------------*/


#label1{                   /* ARROW1 RIGHT %40 BONUS */
  position: absolute;
top:-130px;
left:20px;
}

#label2{                  /* ARROW2 25% BONUS */
  position: absolute;
top:-130px;
left:238px;
}

#label3{                     /* ARROW3 bonus 10%*/
  position: absolute;
top:-130px;
left:425px;
}


#label4{                     /* ARROW4 bonus 0%*/
  position: absolute;
top:-130px;
left:612px;
}

#label5{                     /* ARROW1 RIGHT EXPECTAION1*/
  position: absolute;
top: -30px;
left:65px;
}

#label6{                     /* ARROW2 EXPECTAION2*/
  position: absolute;
top:-30px;
left:280px;
}

#label7{                     /* ARROW3  EXPECTAION3*/
  position: absolute;
top:-30px;
left:468px;
}

#label8{                     /* ARROW4  EXPECTAION4*/
  position: absolute;
top:-30px;
left:656px;
}

#label9{                     /* ARROW4  EXPECTAION4*/
  position: absolute;
top:-30px;
left:850px;
}
#label10{                     /* ARROW4  EXPECTAION4*/
  position: absolute;
top:-75px;
left:836px;
}

.green_line {
  border-bottom: 3px solid #00b399;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 23px;
  font-family: sans-serif;
}

.bottom_part span {
  color: white;
  font-size: 60px;
  font-family: sans-serif;
}
.bottom_part {
  margin-top: 20px;
}
