body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: black;
  margin: 0;
  padding: 0;
  background-color: white;
}
.block {
  border: 1px solid none;
  height: auto !important;
  max-height: 900px;
  min-height: 900px;
  margin-top: 35px;
  margin-left: 300px;
  margin-right: 30px;
  margin-bottom: 40px;
  border-radius: 13px;
  width: auto !important;
  max-width: 1010px;
  min-width: 1010px;
    background-color: #7996A2;
}

#img_bar{
  position: absolute;

}
#arrLeft{
  position: relative;
  bottom: 138px;
  left: 0px;

}
#arrLeftsloj2{
  position: relative;
  bottom: 138px;
  left: -288px;

}

#arrow{
  position: relative;
  bottom: 138px;
  left: -321px;

}
#arrow_Sloj2{
  position: relative;
  bottom: 263px;
  left: 255px;

}

#arrow2{
  position: relative;
  bottom: 263px;
  left:224px;

}
#arrow2_Sloj2{
  position: relative;
  bottom: 263px;
  left: -54px;

}




#arrRight{
  position: relative;
  bottom: 388px;
  left: 749px;

}
#arrRightSloj2{
  position: relative;
  bottom: 388px;
  left: 502px;

}


.label {
  width: 50px;
  position: absolute;
  font-size: 20px;
}

#label1{                   /* ARROW1 RIGHT %40 BONUS */
  position: absolute;
top:-501px;
left:20px;
}

#label2{                  /* ARROW2 25% BONUS */
  position: absolute;
top:-501px;
left:280px;
}

#label3{                     /* ARROW3 bonus 10%*/
  position: absolute;
top:-501px;
left:525px;
}




#label5{                     /* ARROW1 RIGHT EXPECTAION1*/
  position: absolute;
top:-420px;
left:65px;
}

#label6{                     /* ARROW2 EXPECTAION2*/
  position: relative;
top:-420px;
left:340px;
}

#label7{                     /* ARROW3  EXPECTAION3*/
  position: absolute;
top:-420px;
left:580px;
}

#label8{                     /* ARROW4  EXPECTAION4*/
  position: absolute;
top:-420px;
left:820px;
}


.green_line {
  border-bottom: 3px solid #00b399;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 23px;
  font-family: sans-serif;
}

.bottom_part span {
  color: white;
  font-size: 60px;
  font-family: sans-serif;
}
.bottom_part {
  margin-top: 20px;
}
