
body{

   font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
    margin:0;
    padding:0;
background-color: white;

  }



/* Some media queries for responsiveness */

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.pur_tok{
    margin: 0 auto;
    border: 1px solid none;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 13px;
    border: 1px solid black;
   width: auto !important;
   width:800px;
   max-width: 1010px;
   min-width: 1010px;
   background-color: #7996A2;
  }

.purdet {
  display: inline-block;
  width: 400px;
  margin-left:30px;
  margin-top: 20px;
  font-size: 32px;
  color: black;
}

#purchase_details_input{
  border: none;
}
.mineth {
  margin-left: 30px;
  margin-top: 20px;
  color: blck;
  font-size: 16px;
}

.ethprice {
  margin-left: 30px;
  margin-top: 30px;
  padding-left: 10px;
  color: black;
  background-color: white;
  border: 1px solid black;
  width: 315px;
  font-size: 21;

}

.pricestage {
  display: inline-block;
  width: 200px;
  float: right;
  margin-right: 30px;
  margin-top: 30px;
  display: inline-block;
  color: black;

}
.pstage1{
  float: left;
  display: inline-block;
  height: 20px;
  width:165px;
  text-align: center;
  padding-top:5px;
}



.usd{display: inline-block;}
.green{color: green;}
.invest {
  margin-left: 30px;
}

.paymentadd {
  color:black;

  margin-left: 30px;



}

#inpaymentadd {
  font-size: 21px;
  background-color: white;
  color: black;
  text-align: center;
  width: 535px;
  border: 1px solid black;
}
.adr{
  display: inline-block;
}
input[type="text"] {
  box-sizing: border-box;
}
.copybtn{
  display: inline-block;
  width: 100px;
}
#copybtn {
  width: 100%;

  border: none;
  color: white;
  text-decoration: none;
font-size: 21px;


  background-color: #00BEA3;
  background-repeat:no-repeat;

  cursor:pointer;
  overflow: hidden;
  outline:none;
  color:black;

border-top-right-radius: 13px;
border-bottom-right-radius: 13px;
transition: 0.6s ease-in-out;
}

/* #copybtn:hover { //button animation

  color: white;
  content: '\00bb';
  background-color: #34f693;
  opacity: 1;
  top: 0;
  right: -50px;
  transition: 0.5s;
  box-shadow: 2px 2px 10px black;
}*/
.alert:hover{
  color: #ee0f0f;

}
.alert{
  color:#f0541a;
  font-size: 10px;
  font-weight:bold;
  margin-left:1px;
}



.limitprice {
  margin: 0;
  width: 80%;
  height: 70px;
  align: center;
  margin-left: 100px;
  color: black;
  font-size: 13px;
  margin-top: 25px;
}

.gaslimit {
  display: inline-block;
  float: left;
}

.gasprice {
  display: inline-block;
  float: right;
}

.button {
  margin: 0;
  text-align: center;
}

#myetherwallet, #metamask {
  width: 250px;
  /* border-radius: 5px; */
  /*border-right: 23px;
  border-left: 23px;*/
  height: 30px;
  border: none;
  margin-top: 50px;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  padding-top: 15px;
}

#myetherwallet {
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
  float: left;
  margin-left: 80px;
  background-color: #00BEA3;
  cursor: pointer;
  color: black;
  text-decoration: none;
  vertical-align:middle;
}


#metamask {
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 13px;
  float: right;
  margin-right: 80px;
  background-color: #00BEA3;
  cursor: pointer;
  color: black;
  text-decoration: none;
  vertical-align:middle;
}

/* #myetherwallet:hover, #metamask:hover { //button animation

  color: white;
  content: '\00bb';
  background-color: #34f693;
  opacity: 1;
  top: 0;
  right: -50px;
  transition: 0.5s;
  box-shadow: 2px 2px 10px black;
}*/




button {
    -webkit-transition-duration: 0.6s; /* Safari */
    transition-duration: 0.6s;
}

button:hover {
    background-color: #34f6e5; /* rose */
    color: white;
}
