

.reachedwindow {
  width: 90%;
  word-wrap: normal;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  color: red;
  font-size: 15px;

}

.warning {
  width: 90%;
  word-wrap: normal;
  margin: 0 auto;
  margin-top: 10px;
  color: pink;
  font-size: 18px;
  margin-left: 8%;
}

.textwhite {
  width: 85%;
  word-wrap: normal;
  margin: 0 auto;
  color: black;
  font-weight: bold;
}

.tokenwind {
  margin: 0 auto;
  height: 130px;
  width: 85%;
  border-radius: 5px;
  margin-top: 10px;
  background-color: white;
  padding-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: serif monospace;
}

.tokenvalue {
  margin: 0 auto;
  height: 80px;
  width: 85%;
  border-radius: 5px;

  background-color: white;
  color: black;
  text-align: center;
  padding-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.limitprice {
  margin: 0;
  width: 80%;
  height: 70px;
  align: center;
  margin-left: 100px;
  color: black;
  font-size: 13px;
  margin-top: 10px;
}

.gaslimit {
  display: inline-block;
  float: left;
}

.gasprice {
  display: inline-block;
  float: right;
}





/* #myetherwallet:hover, #metamask:hover {
  background-color: #34f693;

  color: white;


    content: '\00bb';

    opacity: 1;
    top: 0;
    right: -50px;
    transition: 0.5s;
    box-shadow: 2px 2px 10px black;

} */
